@import-normalize;
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: #f04326;
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: .05em;
}

button:hover,
button:active,
button:focus {
  background-color: #f04326;
}
