@import-normalize;
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: #f04326;
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: .05em;
}

button:hover,
button:active,
button:focus {
  background-color: #f04326;
}

h1 {
  font-size: 40px;
}

.background-image {
  height: calc(100vh - 65.98px);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  row-gap: 25px;
  background-image: url('./images/diningtable.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.title-text {
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .035em;
  margin: 0px;
}


/* Login/Signup Forms */
.login-form {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1000px) {
  .login-form {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 80%;
  }
}

.login-form>h1 {
  margin-top: 0px;
}

.member {
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
}

.member>span {
  color: #f04326;
  text-decoration: underline;
}