.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm input {
  border: none;
  background-color: #EBE7E7;
  margin-bottom: 1.25rem;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.LoginForm ::placeholder,
.LoginForm ::-webkit-input-placeholder {
  opacity: 0.5;
}

.LoginForm label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
